<h2 style="text-align:center">話鍵 DTMF 產生器</h2>
<div style="display: flex; justify-content:center">
    <form action="/generator" method="POST" style="item-align:center">
        <input type="text" name="content" pattern="\d+" title="僅允許輸入數字" max="12" placeholder="請輸入..." inputmode="numeric" style="width:70%; height:1.5em; text-align:center" required>
        <button type="submit">產生</button>
    </form>
</div>
